body {
  font-family: "Overlock";
}

h1 {
  font-family: "Carter One";
}

main {
  width: 90%;
  margin: auto;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(37, 36, 34);
  color: rgb(235, 94, 40);
  padding: 15px 45px;
  margin-bottom: 15px;
}

nav a {
  text-decoration: none;
  color: rgb(235, 94, 40);
}
nav button {
  border: 1px solid white;
  color: rgb(235, 94, 40);
}

h4 {
  margin: 0;
  font-size: 15px;
  text-align: center;
}

article {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 5px;
  grid-row-gap: 5px;
}

article a {
  text-decoration: none;
  color: black;
}

.Bird div {
  width: 150px;
  padding: 15px;
  background-color: rgb(255, 252, 242);
}

.Bird img {
  width: 150px;
}
